<section>
  <div class="w-full">
    <section class="w-full">
      <ul
        class="grid gap-5 grid-cols-[repeat(auto-fill,minmax(320px,1fr))] py-5"
      >
        <slot />
      </ul>
    </section>
  </div>
</section>
